.contenedorComenzar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: #f5f5f5;
}

.start-button {
  padding: 8px 0px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #fff;
  background-color: #8964bd;
  width: 200px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.botonSelectorPagos{
  transition: all 0.3s ease-in-out !important;
  text-decoration: none;
  background-color: #8964bd;
  cursor: pointer;
}

.botonSelectorPagos h5 {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.botonSelectorPagos:hover {
  background: #4d06b1;
  color: #fff;
}

.start-button:hover {
  background: #4d06b1;
  color: #fff;
}

.aumentoTam{
  margin-right: 15px;
  font-size: 25px;
}

.start-button:active {
  transform: scale(0.9);
}


/* Estilo general para los botones en el proyecto */
button {
  background-color: #431287;
  /* Color de fondo morado */
  color: #fff;
  /* Letras en blanco */
  font-weight: bold;
  /* Texto en negrita */
  text-transform: uppercase;
  /* Texto en mayúsculas */
  border: none;
  /* Sin borde por defecto */
  padding: 1rem 2rem;
  /* Tamaño cómodo del botón */
  border-radius: 8px;
  /* Un border-radius estético */
  cursor: pointer;
  /* Mostrar el cursor de mano */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Un box-shadow suave */
  transition: background-color 0.2s ease;
  /* Transición suave al hacer hover */
}

/* Cambios en el hover para los botones */
button:hover {
  background-color: #2196C2;
  /* Cambia a azul en hover (opcional, pero añade interacción) */
}