/* global.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --oscurito: #4d06b1;
  --clarito: #8964bd;
  --fondito: #000;
  ---fondito-claro: #f8f9fa;
  ---color-titulos:  #5f5f5f;
}

.fondo {
  background-color: var(--fondito);
}


h1 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.textoBienvenida{
  font-size: 7em;
  color: var(---color-titulos);
}

.seleccionText{
  font-size: 4em;
  color: var(---color-titulos);
}

.seleccionTitulo {
  font-size: 4em ;
  color: var(---color-titulos);
}

.contenedorComenzar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: #000;
}

.start-button {
  padding: 8px 0px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #fff;
  background-color: #8964bd;
  width: 200px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.botonSelectorPagos{
  transition: all 0.3s ease-in-out !important;
  text-decoration: none;
  background-color: #8964bd;
  cursor: pointer;
  border: none;
  outline: none;
}

.botonMetodo{
  border: none;
}

.botonSelectorPagos h5 {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.botonSelectorPagos:hover {
  background: #4d06b1;
  color: #fff;
}

.start-button:hover {
  background: #4d06b1;
  color: #fff;
}

.aumentoTam{
  margin-right: 15px;
  font-size: 25px;
}

.start-button:active {
  transform: scale(0.9);
}

.bg-gracias {
  background-color: #008f39;
}

.botonEscanearPalma{
  transition: all 0.3s ease-in-out !important;
  text-decoration: none;
  background-color: #8964bd;
  cursor: pointer;
  border-radius: 15px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
  color: #fff;
}

.botonEscanearPalma:hover {
  background: #4d06b1;
  color: #fff;
}

.imagenGracias{
  margin-top: 0em;
}

.circle-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #008f39; /* Color verde */
  border-radius: 50%; /* Hacerlo circular */
  animation: expandCircle 1.5s ease forwards; /* Animación de expansión */
}

.ButtonNext{
  color: #5f5f5f;
  text-transform: uppercase;
  font-size: 1.5em;
}

@keyframes expandCircle {
  from {
      transform: scale(0); /* Comienza en tamaño cero */
  }
  to {
      transform: scale(10); /* Escala a un tamaño grande */
  }
}


/* Estilo general para los botones en el proyecto */
/* button {
  background-color: #431287;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
} */

/* Cambios en el hover para los botones */
button:hover {
  background-color: #2196C2;
  /* Cambia a azul en hover (opcional, pero añade interacción) */
}